<div class="recent_posts">
    <h2 style="text-align: center;" class="page-heading">{{lang 'blog.recent_posts' }}</h2>
    <!-- inject blog tag navigation here -->
   <div id="blog-navigation">

   </div>

   <div class="blog-grid-outer-container">
   
        <div class="blog-items-grid-container">

        

        <!-- <div class="item item-2">
            <div class="item-image">

                <img class="item-images" src="https://i.postimg.cc/8zpZCFgG/Mask-group.png" alt="Image 1">
            </div>
            <div class="content-wrapper">
                <h6>Key Takeaways: The Power of Protein in Athletic Performance</h6>
                <p>21st December, 2023</p>
            </div>
            <a href="" class="read-more">
                <span class="cart-icon">Read More </span>
            </a>
        </div>


        <div class="item item-3">
            <div class="item-image">

                <img class="item-images" src="https://i.postimg.cc/wMRS01TZ/Mask-group-1.png" alt="Image 1">
            </div>
            <div class="content-wrapper">
                <h6>Key Takeaways: The Power of Protein in Athletic Performance</h6>
                <p>21st December, 2023</p>
            </div>
            <a href="" class="read-more">
                <span class="cart-icon">Read More </span>
            </a>
        </div>

        <div class="item item-4">
           <div class="item-image">

               <img class="item-images" src="https://i.postimg.cc/h4HjgxxJ/Mask-group-2.pngg" alt="Image 1">
           </div>
            <div class="content-wrapper">
                <h6>Key Takeaways: The Power of Protein in Athletic Performance</h6>
                <p>21st December, 2023</p>
              
            </div>
            <a href="" class="read-more">
                <span class="cart-icon">Read More </span>
            </a>
        </div>

        <div class="item item-5">
            <div class="item-image">

                <img class="item-images" src="https://i.postimg.cc/NFhch6VB/Mask-group-4.png" alt="Image 1">
            </div>
            <div class="content-wrapper">
                <h6>Key Takeaways: The Power of Protein in Athletic Performance</h6>
                <p>21st December, 2023</p>
            </div>
            <a href="" class="read-more">
                <span class="cart-icon">Read More </span>
            </a>
        </div>

        <div class="item item-6">
            <div class="item-image">

                <img class="item-images" src="https://i.postimg.cc/NfkwVrxv/Mask-group-5.png" alt="Image 1">
            </div>
            <div class="content-wrapper">
                <h6>Key Takeaways: The Power of Protein in Athletic Performance</h6>
                <p>21st December, 2023</p>
            </div>
            <a href="" class="read-more">
                <span class="cart-icon">Read More </span>
            </a>
        </div> -->
    </div>
    <div class="progress-bar-container">
        <svg class="blog-container-line-prev" width="6" height="10" viewBox="0 0 4 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 5L1 3L3 1" stroke="#08213E" stroke-linecap="square"></path>
        </svg>
        <div class="topsellerr-progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="background-size: 0% 100%;"></div>
        <svg class="blog-container-line-next" width="6" height="10" viewBox="0 0 4 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L3 3L1 5" stroke="#08213E" stroke-linecap="square"></path>
        </svg>           
    </div>
   </div>
    
</div>